.video-page {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.video-page main {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 1.5rem;
}
.video-page strong {
    font-size: 2rem;
}
.video-user-info {
    display: flex;
    gap: 1rem;
    color: white;
    font-size: 1rem;
    align-items: center;
}
.video-user-info em {
    font-style: normal;
    font-weight: bold;
}
.video-page aside {
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}