.line {
  background-color: #fff !important;
}
.nextui-navbar-container {
  /* background-color: #000 !important; */
  background: linear-gradient(
    71.92deg,
    #001c1a 3.01%,
    rgba(0, 17, 43, 0.79) 133.34%
  ) !important;
}
.nextui-c-egxOLa {
  min-width: 100%;
}
.nextui-c-jklhtj {
  background-color: unset !important;
}

.nextui-link {
  color: #fff;
  font-size: 16px;
}

.nextui-c-ewlcFW {
  overflow-y: hidden !important;
}

.nextui-c-eGlVTL,
.white-text {
  color: #fff;
}

.navbar-subtitle {
  font-size: 24px;
}
.iekbcc9  {
  background-color: #F31260 !important;
}
.nextui-c-iTPCAT {
  background: #001c1a 3.01%;
}