.line {
  background-color: #fff !important;
}
.nextui-c-jklhtj,
.nextui-navbar-container {
  background-color: #000 !important;
}

.nextui-link {
  color: #fff;
  font-size: 16px;
}

.nextui-c-ewlcFW {
  overflow-y: auto !important;
}

.white-text {
  color: #fff;
}

.navbar-subtitle {
  font-size: 24px;
}
